.negrita{
    font-weight: bold;
}

h1{
    font-weight: bold;
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
}

.img{
    background-color: #E6E6E6;
    text-align: center;
    padding-top: 40px;
}

h2{
    font-weight: bold;
    background-color: #C4C4C4;
    color: #005677;
}

.alineacion{
    padding: 80px;
}

footer{
    background-color: #005677;
    text-align: center;
}

h3{
    color: white;
    font-weight: bold;
}